/* Creating styles for body */
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1;
  background-color: #c4e2ba;
}

/* Creating styles for textarea class */
textarea {
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  border-left: 1px solid white;
  padding: 10px;
}

/* Creating styles for header */
header {
  text-align: center;
  background-color: transparent;
  color: black;
  border-radius: 0;
  border-bottom: 10px solid black;
  padding: 60px;
}

/* Creating styles for description class */
.description {
  white-space: pre-wrap;
}

/* Creating styles for time-block class */
.time-block {
  text-align: center;
  border-radius: 15px;
}

/* Creating styles for row class */
.row {
  white-space: pre-wrap;
  height: 80px;
  border-top: 1px solid white;
}

/* Creating styles for hour class */
.hour {
  background-color: #ffffff;
  color: #000000;
  border-top: 1px dashed #ffffff;
  padding-top: 20px;
  text-align: right;
}
/* Creating styles for past class */
.past {
  background-color: #ff98a3;
  color: white;
}

/* Creating styles for present class */
.present {
  background-color: #98f0ff;
  color: white;
}

/* Creating styles for future class */
.future {
  background-color:  #6fc276;
  color: white;
}

/* Creating styles for save button */
.saveBtn {
  border-left: 1px solid white;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  border-color: #ffffff;
  background-color: #98b1ff;
  color: white;
  
}

/* Creating styles for save button hover*/
.saveBtn:hover {
background-color: #e8e6af;
}


/* Enlarges disc icon on save button on hover */
 .saveBtn i.hover {
  font-size: 20px;
  transition: all 0.3s ease-in-out;
} 

.input-group-text{
  width: 4rem;
}
