body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1;
  background-color: #c4e2ba;
}

textarea {
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  border-left: 1px solid black;
  padding: 10px;
}

header {
  text-align: center;
  background-color: transparent;
  color: black;
  border-radius: 0;
  border-bottom: 10px solid black;
  padding: 60px;
}

.description {
  white-space: pre-wrap;
}

.time-block {
  text-align: center;
  border-radius: 15px;
}

.row {
  white-space: pre-wrap;
  height: 80px;
  border-top: 1px solid white;
}

.hour {
  background-color: #ffffff;
  color: #000000;
  border-top: 1px dashed #ffffff;
}

.past {
  background-color: #ff98a3;
  color: white;
}

.present {
  background-color: #98f0ff;
  color: white;
}

.future {
  background-color:  #00ff00;
  color: white;
}

.saveBtn,.deleteBtn {
  border-left: 1px solid white;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #98b1ff;
  color: white;
  height:80px;
    width:80px;
}
.saveBtn:hover,.deleteBtn:hover {
background-color: #e8e6af;
}


/* Enlarges disc icon on save button on hover */
 .saveBtn,.deleteBtn i.hover {
  font-size: 20px;
  transition: all 0.3s ease-in-out;
} 

.input-group-text{
  width: 4rem;
}
/* Media Queries */
@media (max-width: 768px) {

  header {
    padding: 10px; /* Adjusted padding for smaller screens */
  }

  .time-block {
    display: flex;
    margin-bottom: 5px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .row {
    height: auto; /* Adjusted height for smaller screens */
  }
}


